
.form-container{
  position: relative;
  text-align: center;
  height: 32em;

}


.form-input{

  display: inline-block;
  width: 51%;

  line-height: 2.8em;
}

.button-wrapper{
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 6em;
}
.button{
  width: 18em;
}